
@{
    ViewBag.Title = "Viajes";
    Layout = "~/Views/Shared/_LayoutPanelUser.cshtml";
}
<style>
    #contenedor-info{
        margin-left:85px;
    }
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-md-6">            
            <div id="map" style="height:400px; width:600px;"></div>
        </div>
        <div id="contenedor-info" class="col-md-4">
            <input type="text" class="form-control" id="search-place_1" placeholder="Buscar Ubicación de Partida" />
            <br />
            <input type="text" class="form-control" id="search-place_2" placeholder="Buscar Ubicación Destino" />
            <br />
            @*<h3>Información Obtenida</h3>

            <div id="info"></div>*@
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8kLTSuOOA30wach-OwlymwZDP53jo3ok&libraries=places"></script>
<script src="~/Scripts/ScriptMaps/user_location.js"></script>
<script type="text/javascript" src="~/Scripts/ScriptMaps/main.js"></script>


