
@{
    ViewBag.Title = "Home Page";
    
}
    <head>
        <!-- PARAMIENTRAS 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YOLO-GT</title>

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

            -->


        <!-- css -->
        <!--
        <link rel="stylesheet" href="~/FrontEnd/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/FrontEnd/css/ionicons.min.css">
        <link rel="stylesheet" href="~/FrontEnd/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/FrontEnd/css/owl.carousel.css">
        <link rel="stylesheet" href="~/FrontEnd/css/owl.theme.css">
        <link rel="stylesheet" href="~/FrontEnd/css/owl.transitions.css">
        <link rel="stylesheet" href="~/FrontEnd/css/animate.css">
        <link rel="stylesheet" href="~/FrontEnd/css/custom.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
            -->
        <!--esteno-->
        <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"> -->
        
        <!--
        <link rel="stylesheet" href="~/FrontEnd/css/style.css">
        <link rel="stylesheet" href="~/FrontEnd/assets/css/form-elements.css">
        <link rel="stylesheet" href="~/FrontEnd/assets/css/style.css">

        <script src="js/modernizr.custom.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            -->


        <!-- EMPIEZA LO QUE HICE -->
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/animate.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/bootstrap.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/clndr.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/custom.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/font-awesome.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/jqvmap.css">
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Bootstrap Core CSS -->
        <link href="~/FrontEnd/estilos/css/bootstrap.css" rel='stylesheet' type='text/css' />
        <!-- Custom CSS -->
        <link href="~/FrontEnd/estilos/css/style.css" rel='stylesheet' type='text/css' />
        <!-- font CSS -->
        <!-- font-awesome icons -->
        <link href="~/FrontEnd/estilos/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- //font-awesome icons -->
        <!-- js-->

        <script src="~/FrontEnd/estilos/js/jquery-1.11.1.min.js"></script>
        <script src="~/FrontEnd/estilos/js/modernizr.custom.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        <!--webfonts-->
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <!--//webfonts-->
        <!--animate-->
        <link href="~/FrontEnd/estilos/css/animate.css" rel="stylesheet" type="text/css" media="all">
        <script src="~/FrontEnd/estilos/js/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <!--//end-animate-->
        <!-- chart -->
        <script src="~/FrontEnd/estilos/js/Chart.js"></script>
        <!-- //chart -->
        <!--Calender-->
        <link rel="stylesheet" href="~/FrontEnd/estilos/css/clndr.css" type="text/css" />
        <script src="~/FrontEnd/estilos/js/underscore-min.js" type="text/javascript"></script>
        <script src="~/FrontEnd/estilos/js/moment-2.2.1.js" type="text/javascript"></script>
        <script src="~/FrontEnd/estilos/js/clndr.js" type="text/javascript"></script>
        <script src="~/FrontEnd/estilos/js/site.js" type="text/javascript"></script>
        <!--End Calender-->
        <!-- Metis Menu -->
        <script src="~/FrontEnd/estilos/js/metisMenu.min.js"></script>
        <script src="~/FrontEnd/estilos/js/custom.js"></script>
        <link href="~/FrontEnd/estilos/css/custom.css" rel="stylesheet">


        <!-- TERMINA LO Q HICE -->

        <!--webfonts-->
         <!--
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
             -->
        <!-- js -->
        <!--
        <script src="~/FrontEnd/js/jquery.min.js"></script>
        <script src="~/FrontEnd/js/bootstrap.min.js"></script>
        <script src="~/FrontEnd/js/owl.carousel.min.js"></script>
        <script src="~/FrontEnd/js/isotope.pkgd.min.js"></script>
        <script src="~/FrontEnd/js/script.js"></script>
        <script src="~/FrontEnd/js/wow.min.js"></script>
        <script src="~/FrontEnd/js/jquery.actual.min.js"></script>
            -->
        <!-- jQuery UI CSS Reference -->
        <!--
        <link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
        -->
        <!-- Required jQuery and jQuery UI Javascript references -->
        <!--
        <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
        -->
        <!-- Favicon and touch icons -->
        <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    </head>
<div id="wrapper">
    <div id="overlay-10">
        <section id="navigation">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="ion-navicon"></span>
                        </button>
                        <a class="navbar-brand" href="#">YOLO</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <a href="~/Account/Register"><button class="btn btn-info btn-lg" @*data-toggle="modal" data-target="#registro"*@>Registro</button></a>
                            <a href="~/Account/Login"><button class="btn btn-info btn-lg" @*data-toggle="modal" data-target="#iniciosesion"*@>Inicia Sesión</button></a>                            

                        </ul>

                    </div>	<!-- collapse navbar-collapse -->
                </div>	<!-- container-fluid -->
            </nav>	<!-- navbar -->
        </section>	<!-- #navigation -->

        @*<section id="starting">
            <div class="text-center starting-text">
                <h1 class="rene">YOLO</h1>
                <h2>¡Viaja! ¡Comparte! y ¡Ahorra!</h2>
            </div>
        </section>*@
        <div id="bottom" class="bottom text-center">
            <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
        </div>
    </div><!-- overlay-1 -->
</div>	<!-- wrapper -->
<!-- About Us -->

@RenderBody()

<script>
    $(document).ready(function () {
        $("#client-speech").owlCarousel({
            autoPlay: 3000,
            navigation: false, // Show next and prev buttons
            slideSpeed: 700,
            paginationSpeed: 1000,
            singleItem: true
        });
    });
</script>
<script>
    new WOW().init();
</script>
<script>
    $(function () {
        // init Isotope
        var $container = $('.isotope').isotope
            ({
                itemSelector: '.element-item',
                layoutMode: 'fitRows'
            });


        // bind filter button click
        $('#filters').on('click', 'button', function () {
            var filterValue = $(this).attr('data-filter');
            // use filterFn if matches value
            $container.isotope({ filter: filterValue });
        });

        // change is-checked class on buttons
        $('.button-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'button', function () {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $(this).addClass('is-checked');
            });
        });

    });
</script>
<script src="~/FrontEnd/js/jquery-ui-1.10.3.min.js"></script>
<script src="~/FrontEnd/js/jquery.knob.js"></script>
<script src="~/FrontEnd/js/daterangepicker.js"></script>
<script src="~/FrontEnd/js/bootstrap3-wysihtml5.all.min.js"></script>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage() {
        alert("Succcess Post");
        //$("#page-wrapper").html("");
    }
    function FailMessage() {
        alert("Fail Post");
    }
</script>